:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

app-slider {
  width: 100%;
  height: 65%;
}

app-about {
  width: 100%;
  height: 35%;
}